<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email List with Vue/API</title>
</head>
<body>

    <div id="container">

        <h1>List of Emails</h1>

        <ul v-for="email in emails" v-if="emails.length == 10"> <!-- stampa ogni elemento dell'array, solo quando è totalmente pieno-->
            <li >
                {{email}}
            </li>
        </ul>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>